@charset "utf-8";
img, video, iframe{max-width:100%}
body, h1, h2, p, nav ul{
	margin:0;
	padding:0;
	
}
/*header do site */
header#inicioSite{
	background:rgba(0,81,140,0.85);
	width:100%;
	height:5em;
	position:fixed;
	top:0;
	z-index:999;
}
/*logo*/

h1 {
    font-size: 2em;
	width:60%;
	float:left;x
}
h1 a {
    text-decoration: none;
    text-align: center;
    display: inline;
}
h1 span {
	width: 50px;
    color: white;
    margin:20px;
    border-radius: 5px;
}
nav {
	right:0;	
    margin: 2% auto; 
    width: 30%;
    border-radius: 4px;
	text-align:center;
    max-height: 3em;
    overflow: hidden;
    transition: max-height 0.5s;
}

/* Transformando em menu dropdown (parte 02) 
Estado final/aberto */
nav:active, nav:focus, nav:hover {
    max-height: 40em; 
    transition: max-height 0.5s;
    cursor: pointer;
}

nav h2 { color: white; font-size: 60px; }

nav ul {
    list-style: none;
    padding: 0; margin: 0;
}

nav a, nav a:visited {
    text-decoration: none;
    font-weight: bold; color: white;
    display: block;
    line-height: 3em;
}

nav a:hover, nav a:focus { background-color: black; }







#corpoSite p img{
position:absolute;
display:inline;
}
#corpoSite h2{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
#wallpaper{
	background-image: url(../images/office1.jpg);
	background-repeat: no-repeat;
	/*clear: both;*/
	height: 300px;
    padding: 150px 0;
    box-sizing: border-box;
}

.portaD{
	text-align:center;
	color:#fff;
	margin-top: 
	padding-top:20px;
	margin-left:10px;
}

#primeiro{
	
	width:50%;
	display:flex;
	float:left;
	}
#segundo{
	
	width:50%;
	display:flex;
	float:left;
	}

#tt{
	
	background-color:rgba(177,176,176,1.00);
	clear:both;
}	
	figure{width:100% }



.destaques .bloco{
	width: 50%;
	margin: auto;
}


*/
@media screen and (min-width: 695px){
	.destaques{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
	.conjunto-blocos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;	
}

.conjunto-blocos .box{
	width: 50%;
	display: inline-block;
}

.conjunto-blocos .box-full{
	width: 100%;
	display: inline-block;
}
	
	 h1{
			
		width:40%;
		
	}
	#menu h2{
		display: none;
	}
	#menu{
		width: 60%;
		display:flex;
		margin:0;
	}
	#menu li{
		display:inline-block;	
		
	}
	#menu a:link{
		display:inline-block;
		padding:0 10px;
	}
	#teste{width:80%;margin:auto}
	figure{margin:auto; }
}
@media screen and (min-width: 900px){
	 h1{
		width:60%;	
	}
	#menu{
		width: 40%;
	}
	#menu li{
		display:inline-block;	
		
	}
	
}


@media screen and (min-width: 1100px){
	
}*/